<h2>Welcome to PAC Manager. Please Login...</h2>

<p>User authentication will be accomplished with Facebook Connect.</p>

<p>For now, you can mimic logging in as:</p>
<ul>
	<li><a href="/dashboard?user=admin">Admin</a></li>
	<li><a href="/dashboard?user=participant">Participant</a></li>
</ul>